@*
   For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model GroceryProductProj.Models.LoginPage
@{
    ViewBag.Title = "Login form";

}

@using (Html.BeginForm("Login", "Login"))

{

    <span style="font-weight:bolder; font-size:20px; color:lightpink; align:center;">
        @ViewBag.Message
    </span>
  <form>

        <style>
            .card {
                background-color: antiquewhite;
                border: black 20px;
                margin: auto;
                font: 16px;
                bg-color:gray;
                text-shadow: 1px 1px white;
            }
        </style>  

        <div class="card">


         

            <marquee scrolldelay="20" direction="right" loop="50" behaviour="alternate" bgcolor="lightgray" onmouseover="this.stop();" onmouseout="this.start();">
                <h2 align="center"><b><i>User Login</i></b></h2>
            </marquee>



            <div class="row">

                <div class="form-group col-6 offset-3">

                    <lable for="loginid"><b><i>UserName</i></b></lable>

                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })

                </div>

            </div>
  <div class="row">

            <div class="form-group col-6 offset-3">

                <lable for="loginid"><b><i>Password</i></b></lable>

                @Html.PasswordFor(m => m.Pasword, new { @class = "form-control" })
              
            </div>
        </div>
            <br />
           <div class="row">
            <div class="form-group col-12 offset-6">
                        <input type="submit" value="Submit" id="btnsbm" style="height:50px; width:140px" />
                </div>
           </div>
     
        </div>
     
 </form>
}  










