@{
    ViewData["Title"] = "Home Page";
}
<style>
    marquee {
        margin: auto;
        font: 16px;
        border: black 10px;
        text-shadow: 1px 1px white;
    
    }
</style>
  

 <marquee scrolldelay="20" direction="right" loop="50" behaviour="alternate" bgcolor="lightgray" onmouseover="this.stop();" onmouseout="this.start();">
    <h2 align="center"><b><i>Welcome To Grocery Shop</i></b></h2>
            </marquee>


<img src="~/lib/pexels-pixabay-264636.jpg"  height="470px" width="1120px" border="2px black"/>